body {
    margin: 0;
    padding: 0;
    background-image: url('LogoDI.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

h3, h2, p, form {
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}